@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
body{
    background-color:#FFF5DA;
}
*{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.startButton{
    box-shadow: 8px 8px 0px #E55807;
}
.startButton:hover{
    box-shadow: 10px 10px 0px #E55807;
}
.startButton:active{
    box-shadow: 6px 6px 0px #E55807;
}